.header {
    background-color: #A3FFD4;
    padding: 5px;
}
/* top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #A3FFD4;

}
/* navigation links */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    transition: all .3s ease;
    text-decoration: none;
    border-right: 1px solid black;
}
.dropdown {
    float:left;
    overflow: hidden;
}
/* format of dropdown button */
.dropdown .dropbtn {
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    transition: all .3s ease;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    border-right: 1px solid black;
}
/* mouse hover when its not the active tab */
.topnav a:hover:not(.active),  .dropbtn {
    background-color:white;
    color: black;
    cursor: pointer;
}
/* display format */
.dropdown-content {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
 /* format of content in dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-right: none;
}
/* color on hover of dropdown */
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}
/* sets format of active tab */
.topnav .active {
    background-color: black;
    color: white;
}
/* unequal columns */ 
.column {
    float: left;
    padding: 15px;
}
/* column small left side content */
.left {
    float: left;
    width: 30%;
    box-sizing: border-box;
}
/* column main content on page */
.right {
    float:right;
    width: 70%;
    box-sizing: border-box;
}
.contact_right {
    float: right;
    width: 30%;
    box-sizing: border-box;
    
}
.contact_middle {
    float: right;
    width: 70%;
    box-sizing: border-box;
}
.powwr_left {
    float: left;
    width: 30%;
    box-sizing: border-box;
}
.powwr_right {
    float: right;
    width: 30%;
    box-sizing: border-box;
}
.powwr_middle {
    width: 40%;
    box-sizing: border-box;
}
/* center words, pics */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* clear floats after columns */
.row:after{
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column.left, .column.right {
        width: 100%;
    }
}
/* set everything on page to same font */                   
html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Console", Monaco, monospace;
    font-style: normal;
}
/* center text in header */
h2 {
    text-align: center;
}
body {
    margin: 0px;
}
/* center other text */
.main {
    text-align: center;
}
.icons {
    height: 20px;
    width: 20px;
    border: none;
    padding-right: 5px;
    display: inline-block;
}
.uconn_selfie{
    height: auto;
    width: 100%;
    box-sizing: border-box;
    border-radius: 25%;
}
.about_icons {
    padding: 14px 16px;
    height: auto;
    width: 25%;
    box-sizing: border-box;
}
.powwr_img {
    padding: 15px 15px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}
.day_img {
    height: auto;
    width: 100%;
    box-sizing: border-box;
}
/* ovals out photo */
.img2 {
    height: auto;
    width: 80%;
    box-sizing: border-box;
    border-radius: 50%; 
}
