.header {
  background-color: #c19a6b;
  padding: 5px;
}
body {
  margin: 0px;
  font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (3840 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  background: url(/Background/retina_wood/retina_wood.png) repeat 0 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
p {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
div.gallery {
  margin: 20px;
  border: 1px solid #c19a6b;
  float: left;
  width: 180px;
}
div.gallery:hover {
  border: 1px solid #70552f;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
}
/* top navigation bar */
ul.topnav {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c19a6b;
}
ul.topnav li {
  float: left;
}
/* navigation links */
ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  padding: 14px 16px;
  margin: 0px 0px 0px .2px;
  text-decoration: none;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
ul.topnav li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #70552f;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
ul.topnav li a:hover:not(.active), .dropbtn:hover:not(.active), ul.topnav li a:focus {
  color: white;
}
ul.topnav li a:hover:not(.active):before, ul.topnav li a:focus:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/* sets format of active tab */
ul.topnav li a.active {
  background-color: #70552f;
  color: white;
}
ul.topnav li.right {
  float: right;
}
.dropbtn {
  margin: 0px .5px;
}
.dropdown a{
  overflow: hidden;
  text-align: center;
}
/* display format */
.dropdown-content {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  background: url(/Background/retina_wood/retina_wood.png) repeat 0 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* format of content in dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-right: none;
}
.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  display: block;
}

* {
  box-sizing: border-box;
}
/* clear floats after columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
[class*="img-"] {
  height: auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
  ul.topnav li.right, ul.topnav li, ul.topnav li a {
    float: none;
    border-right: none;
  }
  .dropdown-content {
    width: 100%;
  }
  .img-1 {
    width: 100%;
  }
  .img-2 {
    width: 80%;
    border-radius: 50%;
  }
  .img-3 {
    width: 30%;
  }
  .img-4 {
    width: 100%;
    padding-top: 20px;
  }
  .img-5 {
    width: 100%;
    border-radius: 25%;
  }
  .img-6 {
    width: 100%;
    padding-top: 20px;
  }
  .img-7 {
    width: 100%;
    padding-bottom: 20px;
  }
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  .col-7 {
    width: 100%;
  }
  .col-8 {
    width: 100%;
  }
  .col-9 {
    width: 100%;
  }
  .col-10 {
    width: 100%;
  }
  .col-11 {
    width: 100%;
  }
  .col-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 700px) {
  .img-1 {
    width: 100%;
  }
  .img-2 {
    width: 80%;
    border-radius: 50%;
  }
  .img-3 {
    width: 25%;
  }
  .img-4 {
    width: 100%;
    padding-top: 20px;
  }
  .img-5 {
    width: 100%;
    border-radius: 25%;
  }
  .img-6 {
    width: 80%;
    padding-top: 20px;
  }
  .img-7 {
    width: 100%;
    padding-bottom: 20px;
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1100px) {
  .img-1 {
    width: 100%;
  }
  .img-2 {
    width: 80%;
    border-radius: 50%;
  }
  .img-3 {
    width: 25%;
  }
  .img-4 {
    width: 100%;
    padding-top: 20px;
  }
  .img-5 {
    width: 100%;
    border-radius: 25%;
  }
  .img-6 {
    width: 80%;
    padding-top: 20px;
  }
  .img-7 {
    width: 100%;
    padding-bottom: 20px;
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
/* center words, pics */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* set everything on page to same font 
html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lucida Console", Monaco, monospace;
  font-style: normal;
  box-sizing: border-box;
}
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}
/* center text in header */
h2 {
  text-align: center;
}
/* center other text */
.main {
  text-align: left;
}
.icons {
  height: auto;
  width: 25px;
  border: none;
  padding-right: 5px;
  padding-bottom: 5px;
  display: inline-block;
}

